:root {
	--c-primary-light: #3498db;
	--c-secondary-light: #26EFEF;
	--c-tertiary-light: #DB34AD;

	--vp-c-brand: var(--c-primary-light);
	--vp-c-brand-light: var(--c-primary-light);
	--vp-c-brand-lighter: var(--c-primary-light);
	--vp-c-brand-dark: var(--c-secondary-light);
	--vp-c-brand-darker: var(--c-secondary-light);

	--vp-home-hero-name-color: transparent;
	--vp-home-hero-name-background: -webkit-linear-gradient(180deg,
			var(--c-tertiary-light) 26.56%,
			var(--c-secondary-light) 100%);
}